<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"href="./css/style.css">
    
    </head>
<body>
    <div class ="main-content">
        {{>header}}
       <p>This app sends a request to mapbox
to get the latitude and longitude of the location user entered , using the coordinates of the location it sends a request to
weatherstack.com server and receive response and display it in the app. </p>
    </div>
   
       {{>fotter}}
</body>    

</html>
