<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"href="./css/style.css">
    
    </head>
<body>
    <div class ="main-content">
        {{>header}}
        <p>this was created by rohan it uses data from weatherstack</p>
        <img class="protrait"src="img/robot.png" >
    </div>
   
       {{>fotter}}
</body>    

</html>
