<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet"href="./css/style.css">
        
    </head>
<body>
    <div class ="main-content">
          {{>header}}
          <p>Use this page to get weather</p>
          <form action="">
              <input placeholder="location">
              <button>Search</button>
          </form>
          <p id="msg-1"></p>
          
          <p id="msg-2"></p>
    </div>
  
    
      <p>{{>fotter}}</p>
      <script src="/js/app.js"></script>
</body>    

</html>
